body{
margin:0;
font-family:Poppins;
background:#07070c;
color:white;
}

.navbar{
display:flex;
justify-content:space-between;
padding:20px 60px;
align-items:center;
position:sticky;
top:0;
background:#07070ce6;
backdrop-filter:blur(10px);
}

.logo-box{
display:flex;
align-items:center;
gap:10px;
font-weight:800;
color:#a855f7;
}

.hero{
display:flex;
align-items:center;
justify-content:space-between;
padding:100px 60px;
}

.hero h1{
font-size:70px;
}

.hero span{
color:#a855f7;
}

.btn{
background:linear-gradient(45deg,#7c3aed,#a855f7);
padding:14px 30px;
border-radius:12px;
text-decoration:none;
color:white;
}

.btn-outline{
border:1px solid #a855f7;
padding:14px 30px;
margin-left:10px;
}

.glass{
background:rgba(255,255,255,0.05);
backdrop-filter:blur(12px);
border-radius:20px;
padding:40px;
margin:60px;
}

.card-wrap{
display:flex;
gap:20px;
justify-content:center;
}

.card{
padding:20px;
width:250px;
text-align:center;
}

.grid{
display:flex;
gap:20px;
justify-content:center;
flex-wrap:wrap;
}

.grid img{
width:300px;
border-radius:15px;
}

.cta{
text-align:center;
padding:100px;
background:linear-gradient(45deg,#6d28d9,#a855f7);
}

.whatsapp{
position:fixed;
bottom:25px;
right:25px;
background:#25d366;
padding:15px;
border-radius:50%;
font-size:22px;
}
